<div class="d-flex align-items-center flex-column">
    <a href="/">
        <div class="logo" style="padding: 0px 0px 32px;"> 
            <img alt="logo" size="64" src="">
    </div>
    </a>    
    <img src="https://www.flaticon.com/svg/vstatic/svg/847/847969.svg?token=exp=1610431906~hmac=7d6543515455a809a55ba433a2e39cd5" style="width: 100px; height: 100px; margin-bottom: 12px; border-radius: 50%;">
    <div>
        <span class="text-capitalize font-weight-bold" style="font-size: larger; font-family: Arial, Helvetica, sans-serif;">Phạm Minh Vương</span>
    </div>
    <div style="margin-bottom: 16px;">
        <span style="width: 72px; height: 24px; font-family: &quot;Open Sans&quot;, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.71; letter-spacing: 0.3px;"> Giảng viên </span>
    </div>
    <a href="">
        <button type="button" class="ant-btn ant-btn-danger" style="height: 40px; background: rgb(223, 50, 47);">
            <img type="left" alt="add_circle" src="https://www.flaticon.com/svg/vstatic/svg/25/25340.svg?token=exp=1610428138~hmac=634f4fdfefdd39adc38b1a748ae8d187" style="filter: brightness(0) invert(1); margin-right: 10px; width: 25px; height: 25px; justify-content: center;">
            <span class="text-white" style="padding-right: 20px; font-family: &quot;Open Sans&quot;, sans-serif; font-size: 14px; font-weight: 600; line-height: 1.71; text-align: center;">Tạo khóa học</span>
        </button>
    </a>
    <ul class="ant-menu menuNavleft ant-menu-light ant-menu-root ant-menu-inline" role="menu" style="background: rgb(249, 250, 252); margin-top: 16px; border-top: 1px solid rgb(233, 233, 233); border-right: none; text-align: left;">
        <li class="ant-menu-item ant-menu-item-selected" role="menuitem" style="margin-top: 16px; padding-left: 24px;">
            <div class="icon-home" style="-webkit-mask: url(&quot;/images/icon/acount.png&quot;) 50% 50% no-repeat;"></div>
            <a href="">
                <span class="nav-text">Thông tin cá nhân</span>
            </a>
        </li>
        <li class="ant-menu-submenu ant-menu-submenu-inline ant-menu-submenu-open" role="menuitem">
            <div class="ant-menu-submenu-title" aria-expanded="true" aria-owns="sub1$Menu" aria-haspopup="true" style="padding-left: 24px;">
                <span>
                    <span class="name-course">Khóa học</span>
                </span>
                <i class="ant-menu-submenu-arrow"></i>
            </div>
            <ul id="sub1$Menu" class="ant-menu  ant-menu-sub ant-menu-inline" role="menu">
                <li class="ant-menu-item" role="menuitem" style="background: rgb(249, 250, 252); padding-left: 48px;">
                    <a href="/manage/course"><span>Quản trị khóa học</span></a>
                </li>
                <li class="ant-menu-item" role="menuitem" style="background: rgb(249, 250, 252); padding-left: 48px;">
                    <a href="/warehouse"><span>Kho học liệu</span></a>
                </li>
            </ul>
        </li>
        <li class="ant-menu-submenu ant-menu-submenu-inline" role="menuitem">
            <div class="ant-menu-submenu-title" aria-expanded="false" aria-haspopup="true" style="padding-left: 24px;">
                <span>
                    <span class="name-home">Chăm Sóc Học Viên</span>
                </span>
                <i class="ant-menu-submenu-arrow"></i>
            </div>
            <div></div>
        </li>
        <li class="ant-menu-item" role="menuitem" style="padding-left: 24px;">
            <span class="nav-text">Đăng xuất</span>
        </li>
    </ul>
</div>