<div class="card">
  
    <div class="row">
      <div class="col-lg-7">
        <p class="h3 text-primary mb-0">Your renovation</p>
        <h1>Making dreams come to life</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p><a
          class="btn btn-primary text-white" href="#">Read More</a>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-7">
        <p class="h3 text-primary mb-0">Your renovation</p>
        <h1>Making dreams come to life</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p><a
          class="btn btn-primary text-white" href="#">Read More</a>
      </div>
    </div>
  </div>
</div>