<form method="POST" action="/admin/category/add">
	<div class="card">
		<h5 class="card-header">
			New Category
		</h5>
		<div class="card-body">
			{{!-- <div class="form-group">
				<label for="parentCategory">Parent Category</label>
				<select name="parentCategory" class="form-control" id="parentCategory">
					<option selected value="-1" >Bỏ Trống</option>
					{{#each this.parents}}
					<option value={{id}}>{{name}}</option>
					{{/each}}
				</select>
			</div> --}}
			<div class="form-group">
				<label for="txtCatName">Category Name</label>
				<input type="text" class="form-control" id="txtCatName" name="categoryName" autofocus>
			</div>
		</div>
		<div class="card-footer text-muted">
			<a class="btn btn-primary" href="{{this.prevRoute}}" role="button">
				<i class="fa fa-backward" aria-hidden="true"></i>
				Back to List
			</a>
			<button type="submit" class="btn btn-outline-success">
				<i class="fa fa-check" aria-hidden="true"></i>
				Save
			</button>
		</div>
	</div>
</form>